---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <div class="meta">日期: <span class="postdate">{{ page.date | date: "%Y-%m-%d" }}</span> 作者： <a target="_blank" href="{{site.url}}">{{ site.author }}</a></div>
            </header>
            <article class="post-content">
              {{ content }}
            </article>
          <hr>
          <blockquote><p>对于本文内容有问题或建议的小伙伴，欢迎在文章底部留言交流讨论。</p></blockquote>
          <div class="text-center">
            <a href="{{ '/donate/' | prepend: site.baseurl }}" target="_blank" style="text-decoration: none"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 您的支持是将是我写作最大的动力!</button></a>
          </div>
        </div>
      </div>
      <!--comment-->
      <!--code for 网易云跟帖
      <div class="panel docs-content">
        <article class="post-content">
          <div class="wrapper">
            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
            <script>
            var cloudTieConfig = {
            url: document.location.href, 
            sourceId: "",
            productKey: "b6d55f09637f497389b80bafc11aada1",
            target: "cloud-tie-wrapper"
            };
            var yunManualLoad = true;
            Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
            </script>
          </div>
        </article>
      </div> -->
      {% if site.gitment.enable %}
      <!--Gitment-->
      <div id="container"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
      <script>
        var gitment = new Gitment({
          id: window.location.pathname, 
        owner: '{{site.gitment.owner}}',
        repo: '{{site.gitment.repo}}',
        oauth: {
            client_id: '{{site.gitment.ClientID}}',
            client_secret: '{{site.gitment.ClientSecret}}',
        },
        })
        gitment.render('container')
      </script>
      {% endif %}
    </div>
  </div>
</div>

